<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jian86_android.hahaclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/hahaclass_logo"
        android:label="행복을 만드는 아리랑 하박수 웃음교실"
        android:roundIcon="@drawable/hahaclass_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account" />
        <activity android:name=".PIntroActivity" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".ApplyActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".BoardActivity"  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".BoarderDetailsActivity" />
    </application>

</manifest>